.faqs
  h2.faqs__title Frequently Asked Questions
  .faq
    input.faq__checkbox(type="checkbox" id="faq1")
    label.faq__question(for="faq1")
      | Why would you do this?
    p.faq__answer
      | I got my implants primarily to experiment with electromagnetic fields as an extra human sense. I also find being able to sense live wires and check whether metals are ferrous genuinely useful functions as a maker - not to mention picking up dropped clothes pins.
  .faq
    input.faq__checkbox(type="checkbox" checked id="faq2")
    label.faq__question(for="faq2")
      | How does the EM field thing work?
    p.faq__answer
      | Electromagnetic fields cause the magnet’s polarity to flip, making it vibrate slightly under the skin. As there are a lot of nerve endings in the fingertips you can feel the vibration, varying in strength and frequency.
  .faq
    input.faq__checkbox(type="checkbox" id="faq2b")
    label.faq__question(for="faq2b")
      | What could this technology be used for?
    p.faq__answer
      | I am really interested in the capacity to use this technology for communication. I'm currently developing a language that can be consumed by implants (think morse code with more bits), that when learned properly could be faster than reading and faster than speech. This has vast potential for military applications (MI6, hit me up), but I think could be more widely applicable for people with other sensory disabilities - things like silent, invisible street signage for the visually-impaired.
  .faq
    input.faq__checkbox(type="checkbox" id="faq3")
    label.faq__question(for="faq3")
      | What can you sense?
    p.faq__answer
      | Microwaves, high voltage cables (ones that run under canal towpaths are very potent), approaching underground trains, any sort of motor if you’re close enough. It is surprising how many pockets of EM fields you can find around the house.
  .faq
    input.faq__checkbox(type="checkbox" id="faq4")
    label.faq__question(for="faq4")
      | What does it feel like?
    p.faq__answer
      | The EM vibration is a strange sensation, especially when you first start feeling it. After about 6 months it stopped feeling like a sensation in my finger, and more a sense hooked up in my brain to ‘there’s some EM fields near your hand’.
  .faq
    input.faq__checkbox(type="checkbox" checked id="faq5")
    label.faq__question(for="faq5")
      | What are they made from?
    p.faq__answer
      | Mine are both rounded rice-shaped neodymium magnets, coated in gold and then coated in medical grade silicone.
  .faq
    input.faq__checkbox(type="checkbox" id="faq6")
    label.faq__question(for="faq6")
      | What’s the procedure like?
    p.faq__answer
      | Quite terrifying - mostly because seeing someone poke a foreign object into you is against all evolutionary impulses. If you are considering this you need to make sure it’s in a sterile environment and the procedure is done by a medical professional. You should receive some local anesthetic, then an incision is made horizontally above the desired position of the magnet. Space under the skin is hollowed out and the magnet is pushed in. A single stitch closes the incision. The finger should be kept on ice for at least 3 hours, ibuprofen can help ease the pain over the following 2 days. The magnet can move under the skin so should be recentered until it is stuck in position (just to the side of the finger pad). After a week the stitch can be removed and you can use the finger for light work, and it will be fully healed in a month.
  .faq
    input.faq__checkbox(type="checkbox" id="faq7")
    label.faq__question(for="faq7")
      | When and where did you get yours implanted?
    p.faq__answer
      | The smaller magnet in my left hand was implanted in December 2015, the other in November 2016. I had them both done by a body mod artist in New York for $150 each. I found one person in London who would do the procedure for £200 a pop.
  .faq
    input.faq__checkbox(type="checkbox" id="faq8")
    label.faq__question(for="faq8")
      | Why are they in your ring finger?
    p.faq__answer
      | Although this is now a pretty safe procedure and the magnets are rarely rejected or break, when the first implants were being done in the early 2000s it was quite dangerous. They recommend you get the implant in your least dominant hand, in the least important finger, so that if necessary the finger can be amputated and minimally affect your hand functionality. You asked the question. Shut up. Additionally, having it in the least dominant finger means it'll probably be subjected to less pressure from daily tasks.
  .faq
    input.faq__checkbox(type="checkbox" id="faq9")
    label.faq__question(for="faq9")
      | Why do you have two?
    p.faq__answer
      | I was offered a choice of two sizes and was a bit hesitant to go big on my first try, so I picked the small one. I went back to get the bigger one in my other hand to increase the sensation and weight of things I could pick up, and also to experiment with a 3D EM sense (like having 2 eyes for perspective).
  .faq
    input.faq__checkbox(type="checkbox" id="faq10")
    label.faq__question(for="faq10")
      | Can you see them?
    p.faq__answer
      | You can see them under the skin if you’re looking due to a slight discoloration, but they’re not obvious.
  .faq
    input.faq__checkbox(type="checkbox" checked id="faq11")
    label.faq__question(for="faq11")
      | Can you feel them?
    p.faq__answer
      | Yes you can feel them under the skin. Good way to freak people out / prove it’s real.
  .faq
    input.faq__checkbox(type="checkbox" id="faq12")
    label.faq__question(for="faq12")
      | Do they affect what you can do with your hands?
    p.faq__answer
      | Minimally. If placed properly they shouldn’t get in the way of typing, for example. I struggle a bit to play the guitar when I have to use my ring finger to hold down multiple strings. It is an unyielding object inside your hand though, so sometimes if you hit it at the wrong angle it can hurt; I had this at the start with light switches quite often but I guess I adapted my style of flipping light switches. You have to be wary around other magnets, because strong ones can hurt a lot (literally the magnet inside of you is being pulled out. not nice.), this is an increasing concern because for some reason magnets are in everything now - I can’t put the pads of my fingers against the edge of my laptop because of the magnetic closing mechanism. Also my phone has a magnetic sensor in the back for smart cases so it randomly locks itself when I’m holding it which is very annoying, but you get used to these kind of things and naturally avoid them.
  .faq
    input.faq__checkbox(type="checkbox" checked id="faq13")
    label.faq__question(for="faq13")
      | What’s the heaviest thing you can pick up?
    p.faq__answer
      | The small magnet is quite pathetic, maybe 5 paperclips. The big magnet can pick up a ballpoint pen, or a small spoon.
  .faq
    input.faq__checkbox(type="checkbox" id="faq14")
    label.faq__question(for="faq14")
      | Don’t you break [insert electronic object here]?
    p.faq__answer
      | I wipe hotel keycards instantly unless I hold them between my index finger and thumb, and have the ring finger tucked into my palm (a pose I’m used to now, and one that only matters when you have them in both hands). Besides that you’re all good; never had a problem with phones or credit cards or hard drives or SD cards. AFAIK they’re too small to have any significant effect on electronics.
  .faq
    input.faq__checkbox(type="checkbox" id="faq15")
    label.faq__question(for="faq15")
      | Can you get MRIs?
    p.faq__answer
      | Maybe. #[a(href='http://stevehaworth.com/magnetic-faq/') Steve Haworth] (the authority on magnetic implants) says that it is possible but can be uncomfortable. Some technicians may be unwilling to do an MRI unless it is taken out. I've heard that it is possible to use some sort of guard to cover it up so that won't affect the machine. I have not faced this problem yet, but have been damn sure to tell all my emergency contacts to immediately tell my medics about the implants if I’m in an accident.
  .faq
    input.faq__checkbox(type="checkbox" id="faq16")
    label.faq__question(for="faq16")
      | Can you go through airport security?
    p.faq__answer
      | Yep, not a problem.
  .faq
    input.faq__checkbox(type="checkbox" id="faq17")
    label.faq__question(for="faq17")
      | Is it dangerous?
    p.faq__answer
      | The danger is in the coating of the magnet breaking down and the metal getting into your blood, hence the whole ‘disposable finger’ thing. I am cautious of any changes in the sensation of the magnets and will not hesitate to have them removed if I am concerned. If something breaks down they should be able to be taken out without damage to the rest of the finger if you catch it early enough. There is a very small chance of this happening though.
  .faq
    input.faq__checkbox(type="checkbox" id="faq18")
    label.faq__question(for="faq18")
      | Do they wear out?
    p.faq__answer
      | Apparently they do. Some say their magnetism dropped off at the 5 year mark, others have said 10-15 years, it depends on the quality of your magnets. Mine are 2 and 3 years old and are still fully functional. I will probably have them removed once they demagnetise.
  .faq
    input.faq__checkbox(type="checkbox" id="faq19")
    label.faq__question(for="faq19")
      | How do you have them taken out?
    p.faq__answer
      | In a sterile environment by a medical professional. I have been told that you can get them removed at A&E (that’s ER to you yanks) with no questions asked. Yay NHS. I have yet to check the validity of this claim. Assuming it’s a bit more gory than the implantation because they’d have to cut away the surrounding tissue. Not looking forward to that.
  .faq
    input.faq__checkbox(type="checkbox" id="faq20")
    label.faq__question(for="faq20")
      | Where can I get one?
    p.faq__answer
      | You still think this is a good idea! Cool! Biohackers seem quite reluctant to share this data, I had to crawl a lot of forums to find the right person to do mine, and I feel I should respect that reticence. That being said, if you need a NYC recommendation send me an email and I’ll pass you on to my guy. (I have a guy!)
  .faq
    input.faq__checkbox(type="checkbox" id="faq21")
    label.faq__question(for="faq21")
      | Why not just have a magnet in a ring?
    p.faq__answer
      | Yes having a magnet in a ring would also enable you to feel EM fields, but I see three downsides to this alternative. The nerve endings that form around an implanted magnet are going to be a lot more sensitive than those on the skin's surface, with an external device you will not feel it as strongly. You'd also have to keep the ring on all the time which is a bummer, and if you don't wear the ring consistently it'll be hard to get your brain to think of it as a reliable sense. A good idea if you're interested in magnetic implants but don't want to take the plunge yet.
  .faq
    input.faq__checkbox(type="checkbox" id="faq22")
    label.faq__question(for="faq22")
      | What other implants exist?
    p.faq__answer
      | RFID and NFC chips are quite abundant but limited in functionality. I’ve seen quite a few large and intrusive biohacking experiments, which I personally wouldn’t touch with a 10ft pole.
