.research
  h2.research__title
    | Projects
  p.research__description
    | A few of my projects involving magnet fingers
  .research__table
    .research__item
      .research__item__video
        iframe(width='560' height='315' src='https://www.youtube.com/embed/oeN270w83Cw?color=white&rel=0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
      p.research__item__description
        | Visualising disturbances to the magnetic field 
        a(href='https://pouretrebelle.github.io/magnetic-drawing-machine/') more info →

    .research__item
      .research__item__video
        iframe(width='560' height='315' src='https://www.youtube.com/embed/bYPkuMVaIxE?color=white&rel=0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
      p.research__item__description
        | A device that communicates invisibly with morse code 
        a(href='https://pouretrebelle.github.io/arduino-morse/') more info →

  p.research__footnote
    | I would love to do some more research with this technology, especially in the fields of linguistics and compensation for sensory disability. If you're intersted in working with me please #[a(href='mailto:ask@pouretrebelle') shoot me an email] and we can have a chat about it.
