.tldr
  h2.tldr__title TLDR;
  .tldr__table
    .tldr__column
      .tldr__column__title.tldr__column__title--positive +
      .tldr__column__item sense EM fields
      .tldr__column__item pick up tiny things
      .tldr__column__item freak out friends
    .tldr__column
      .tldr__column__title.tldr__column__title--negative -
      .tldr__column__item painful procedure
      .tldr__column__item can't get MRIs
      .tldr__column__item wipes hotel keycards
