.update
  h2.update__title#removal-story A magnet removal story
  p.small Written 05/09/2020 
  p
    | Let me set the scene, the month is April 2020, the world is in chaos, and I notice one morning that the bump in my left hand where my smaller magnet is seems more prominent than the bump in my right hand where my larger magnet is. Over the course of a week it swells more, rapidly darkens under the skin, and loses magnetism. Oh no.
  p
    | I had been told that I could have it taken out in A&E, and after phoning my lovely doctor for advice I went to my local hospital and was met with a very strong #[strong no]. The physician I spoke to said they could not do such a delicate operation in A&E unless something was #[em literally sticking out of my skin]; it needed to be done by a plastic surgeon, you need a referral to the plasic surgery department, oh and the department’s closed to referrals because of the pandemic. Sweet.
  p
    | I kept in touch with my doctor and as soon as referrals opened up at the hospital at the end of May he put one in for me. I felt pretty chill at this point, sure it was pretty swollen but it didn’t hurt and I wasn’t experiencing any side-effects.
  p
    | All June I patiently waitied for a call from the hospital.
  p
    | All July I phoned various switchboards and left voicemails to at least half a dozen people, trying to find out who I could speak to to get an appointment booked in, to no avail. “Central booking will be in touch with you soon”.
  p
    | On August 15th it started to hurt, or was it #[em my mounting anxiety about the prolonged heavy metal poisoning I may have been subjected to] which made me hyper aware of any change of sensation in my finger. Either way, it was time to sort this thing out. I phoned a few other hospitals to see if their A&Es could help me (nope), culminating in an out-of-hours GP telling me that I should get it removed urgently but it wouldn’t be possible on the NHS, that I should phone Bupa and get a private hospital appointment for the next day, and that they’d be surprised if it cost less than £500.
  p
    | Many would consider £500 a small price to pay for a medical procedure to get something removed from your body which you had voluntarily inserted, I am not one of those people. Back in April I contacted a few London-based piercers to see if they could help me and hit dead-ends, but with the lifting of travel restrictions I cast a wider net and was put in touch with Quentin Inglis from #[a(href="https://www.kalima.co.uk/") Kalima Emporium], who was an absolute saint and offered to remove it for me.
  p
    | The magnet had blown out both ends and left a lot of debris in the surrounding tissue which he excrutiatingly scraped out over the course of 45 minutes (with no anaesthetic, #[em even the memory is painful]).
  p
    | He sealed the wound with four stitches; it’s been two weeks now and the scar has healed very neatly, and it’s been a far more rapid recovery than when I had them put in. There remains some toughened slightly-darkened tissue under the skin where the magnet was, but that doesn’t really bother me. Quentin also gave me the biggest chunk of magnet he pulled out which is somehow still very much magnetised, some day I’ll mount it into a ring or something.
  p
    | All in all, this was a very unpleasent experience. Actually having it removed, painful though it was, didn’t feel anywhere near as bad as my utter helplessness along the journey: frustration with the NHS, my worries that I’d never be able to find someone to remove it, and sheer terror that I was doing irreversable harm to my body by not having it removed post-haste.
  p
    | I don’t think this has made me regret having them put in. It’s pretty lame that now I can only say I have #[em a] magnet in my finger, and my nervous tick of putting my hands in a praying position and tapping my ring fingers together to play with the magnets is no longer quite so entertaining.
  p
    | I think more than anything it’s made me realise the ephemerality of my other magnet. It’s pretty damn cool to be able to feel a hidden layer of the earth that very few other people can tap into, and until I have to have that one also #[em scraped out with no anaesthetic], I’m going to bloody well appreciate it.
