@import url(https://use.typekit.net/erl1orb.css);
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1,
h2,
h3 {
  font-size: inherit;
  margin: 0; }

figcaption,
figure,
main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit;
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 16px; }

body {
  display: block;
  background: #fff;
  color: #000044;
  margin: 0 1em;
  font-family: t26-carbon, monospace;
  font-size: 1.25rem;
  line-height: 1; }
  @media (min-width: 601px) {
    body {
      font-size: 2.5vw; } }
  @media (min-width: 1201px) {
    body {
      font-size: 1.5rem; } }

h1 {
  font-family: fleisch-wurst, sans-serif;
  text-align: center;
  font-size: 2.5em;
  font-weight: 400;
  max-width: 650px;
  margin: 1em auto; }

h2 {
  font-family: fleisch-wurst, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0; }

p {
  font-size: 1em; }

a:not(.plain) {
  position: relative;
  z-index: 1;
  display: inline-block;
  text-decoration: none;
  color: #000044; }
  a:not(.plain):after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 0.5em;
    top: 0.25em;
    left: 0;
    background: rgba(241, 255, 121, 0.5);
    z-index: -1; }

::-moz-selection {
  background: rgba(241, 255, 121, 0.5);
  color: #000044; }

::selection {
  background: rgba(241, 255, 121, 0.5);
  color: #000044; }

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }

.hands {
  display: block;
  width: 100%;
  margin: 1rem 0; }
  @media (min-width: 601px) {
    .hands {
      margin: 5vh auto 0;
      width: 80%;
      max-height: 50vh; } }
  @media (min-width: 901px) {
    .hands {
      width: 60%; } }
  .hands__outline {
    fill: transparent;
    stroke: #000044;
    stroke-width: 0.125em; }
    @media (min-width: 601px) {
      .hands__outline {
        stroke-width: 0.175em; } }
    @media (min-width: 901px) {
      .hands__outline {
        stroke-width: 0.125em; } }
  .hands__magnets {
    fill: #ff1749; }

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; }

.tldr {
  margin-bottom: 4em; }
  .tldr__title {
    text-align: center; }
    @media (min-width: 601px) {
      .tldr__title {
        margin: 0 0 -1em; } }
  .tldr__table {
    max-width: 800px;
    margin: 0 auto; }
    @media (min-width: 601px) {
      .tldr__table {
        display: flex;
        justify-content: center; } }
  .tldr__column {
    flex-basis: 50%;
    text-align: center; }
    .tldr__column__title {
      margin: 1em 0 0.5em;
      font-size: 1.5em;
      width: 1em;
      height: 1em;
      fill: currentColor; }
      .tldr__column__title--positive {
        color: #11bc5a; }
      .tldr__column__title--negative {
        color: #e20031; }
    .tldr__column__item {
      margin: 0 0 1em; }

.faqs {
  max-width: 800px;
  margin: 0 auto 4em; }
  @media (min-width: 601px) {
    .faqs {
      padding-left: 1.5em; } }
  .faqs__title {
    margin: 0 0 1em; }

.faq {
  margin: 0 0 1.5em;
  padding-left: 1.5em; }
  @media (min-width: 601px) {
    .faq {
      padding-left: 0; } }
  .faq__checkbox {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    -webkit-appearance: none; }
  .faq__question {
    display: inline-block;
    position: relative;
    font-family: t26-carbon, monospace;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .faq__question:before {
      content: '';
      display: block;
      position: absolute;
      width: 0.75em;
      height: 0.325em;
      border-radius: 0.175em;
      background: #ddd;
      margin: 0 0 0 -1.5em;
      -webkit-transform-origin: 0.5em 0.5em;
              transform-origin: 0.5em 0.5em;
      -webkit-transform: rotate(0) translateY(0.25em);
              transform: rotate(0) translateY(0.25em);
      transition: all 0.1s linear; }
  .faq__answer {
    display: none;
    margin: 0.5em 0 0; }
  .faq__checkbox:focus ~ .faq__question {
    position: relative;
    z-index: 1; }
    .faq__checkbox:focus ~ .faq__question:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 0.5em;
      top: 0.25em;
      left: 0;
      background: rgba(241, 255, 121, 0.5);
      z-index: -1; }
  .faq__checkbox:checked ~ .faq__question:before {
    background: #ff1749;
    -webkit-transform: rotate(45deg) translateY(0.5em);
            transform: rotate(45deg) translateY(0.5em); }
  .faq__checkbox:checked ~ .faq__answer {
    display: block; }

.research {
  margin: 0 auto 4em;
  max-width: 1200px; }
  @media (min-width: 601px) {
    .research {
      text-align: center; } }
  @media (min-width: 901px) {
    .research__table {
      display: flex;
      justify-content: space-between; } }
  .research__item {
    text-align: left;
    flex-basis: 49%;
    margin: 1.5em 0; }
    .research__item__video {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%; }
      .research__item__video > * {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; }
  .research__footnote {
    margin: 0 auto;
    max-width: 800px;
    font-size: 0.75em; }

.footer {
  text-align: center;
  margin-bottom: 2em; }
  .footer__hand {
    width: 2em;
    margin-bottom: 1em; }
    .footer__hand__outline {
      fill: #000044; }
    .footer__hand__magnet {
      fill: #ff1749; }
  .footer__updated {
    font-size: 0.75em;
    margin-top: 1em; }

