doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=no')
    title Magnet Finge.rs
    style
      | body {display: none; background: #f7ffb4}
    link(rel='icon' type='image/png',href='/favicon.png' sizes='64x64')
    meta(property='og:title' content='Magnet Finge.rs')
    meta(name='twitter:title' content='Magnet Finge.rs')
    meta(name='description' content='Magnet Finge.rs is a resource for magnetic finger implats, created by Charlotte Dann')
    meta(name='og:description' content='Magnet Finge.rs is a resource for magnetic finger implats, created by Charlotte Dann')
    meta(name='twitter:description' content='Magnet Finge.rs is a resource for magnetic finger implats, created by Charlotte Dann')
    meta(property='og:image' content='http://magnetfinge.rs/opengraph.jpg')
    meta(property='og:image:width' content='1200')
    meta(property='og:image:height' content='630')
    meta(name='twitter:image' content='http://magnetfinge.rs/twittercard.jpg')

    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-132874169-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-132874169-1');

  body
    include parts/intro
    include parts/tldr
    include parts/faqs
    include parts/research
    include parts/footer
